<%- include('partials/header', { title: 'Comment ca marche' }) -%>

<main>
    <section class="bg-white text-center" style="padding-bottom: 0%;">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-10 col-md-6">
              <h3 class="fs-2 fs-lg-3">Déroulement d'une action</h3>
              <h4 class="px-lg-4 mt-3">Demander une prise en charge, rien de plus simple!</h4>
              <hr class="short" data-zanim-xs="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;width&quot;:0},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;width&quot;:&quot;4.20873rem&quot;},&quot;duration&quot;:0.8}" style="width: 4.2087rem; opacity: 1;">
            </div>
          </div>

        </div><!-- end of .container-->
      </section>
    <section class="bg-100">
        <div class="container">
            <div class="row">
              <div class="col-md-6 mb-4"> <!-- Pour les écrans moyens et plus grands, affichez en deux colonnes -->
                <div class="card h-100 text-center">
                  <div class="card-body px-5">
                    <h4 class="mb-3"> 1ere étape: <br><br> Choisir sa formation</h4>
                    <p class="mb-0 text-1100"> A vous de choisir celle qui vous convient le mieux
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4"> <!-- Pour les écrans moyens et plus grands, affichez en deux colonnes -->
                <div class="card h-100 text-center">
                  <div class="card-body px-5">
                    <h4 class="mb-3"> 2eme étape: <br><br> Signer la convention</h4>
                    <p class="mb-0 text-1100"> Vous acceptez de choisir Formanet comme organisme de formation.
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4"> <!-- Pour les écrans moyens et plus grands, affichez en deux colonnes -->
                <div class="card h-100 text-center">
                  <div class="card-body px-5">
                    <h4 class="mb-3"> 3eme étape: <br><br> Faire la demande de prise en charge par l'Opcommerce</h4>
                    <p class="mb-0 text-1100"> Rassurez-vous, nous sommes la pour vous aider a la faire en cas de besoin.
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4"> <!-- Pour les écrans moyens et plus grands, affichez en deux colonnes -->
                <div class="card h-100 text-center">
                  <div class="card-body px-5">
                    <h4 class="mb-3"> Derniere étape: <br><br> Apres accord, on fixe la planification</h4>
                    <p class="mb-0 text-1100"> Notre équipe se charge de vous contacter pour voir avec vous le créneau horaire qui vous convient le mieux.
                  </div>
                </div>
              </div>
            </div>
          
            <div class="card mb-4"> <!-- Pour tous les appareils, affichez le formulaire en une colonne -->
              <div class="card-body p-5">
                <h5 class="mb-3">Ecrivez-nous</h5>
                <form>
                  <div class="mb-4"><input class="form-control bg-white" type="text" placeholder="Your Name" required="required"></div>
                  <div class="mb-4"><input class="form-control bg-white" type="email" placeholder="Email" required="required"></div>
                  <div class="mb-4"><textarea class="form-control bg-white" rows="11" placeholder="Enter your descriptions here..." required="required"></textarea></div><button class="btn btn-md-lg btn-primary" type="Submit"> <span class="color-white fw-600">Envoyez-nous votre message!</span></button>
                </form>
              </div>
            </div>
          </div>
          <!-- end of .container-->
      </section>


</main>

<%- include('partials/footer') -%>
