


<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Elixir | Beautiful Site Template for Agencies &amp; Professionals</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="js/OverlayScrollbars.min.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="css/swiper-bundle.min.css" rel="stylesheet">
    <link href="css/hamburgers.min.css" rel="stylesheet">
    <link href="css/loaders.min.css" rel="stylesheet">
    <link href="css/theme.min.css" rel="stylesheet">
    <link href="css/user.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&amp;family=Open+Sans:wght@300;400;600;700;800&amp;display=swap" rel="stylesheet">
    <!-- AOS Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a8D7M5n6Pk3vGcR4CZ3Mz+TtDMXGZ4S5xQiY5hW4JzgsmZBVEbD9t1p2KZuTTqkutMV6fsJ046F+RKg==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-q7nFf7zWA04fR/WUfzXCgDk9Dz6D8xj49jS7cQpLrzTfXOa0ks98AYQizLUyzMzWjkz3Zxjc5iL5lGz7M80Q==" crossorigin="anonymous"></script>

<!-- CountUp.js Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.0.7/countUp.umd.js"></script>
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="text-center py-0">
        <div class="bg-holder overlay overlay-1" style="background-image:url(images/background-1.jpg);"></div>
        <!--/.bg-holder-->
        <div class="container">
          <div class="row min-vh-100 align-items-center">
            <div class="col-md-9 col-lg-6 mx-auto" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="mb-5" data-zanim-xs='{"delay":0,"duration":1}'><a href="/"><img src="images/logo-formanetV2.png" alt="logo" /></a></div>
              <div class="card" data-zanim-xs='{"delay":0.1,"duration":1}'>
                <div class="card-body p-md-5">
                  <h4 class="text-uppercase fs-0 fs-md-1">Contactez-nous</h4>
                  <form action="/submit_form" method="post" class="text-start mt-4">
                    <div class="row align-items-center g-4">
                      <div class="col-12"> <input class="form-control" name="nom" type="text" placeholder="Votre nom" aria-label="Votre nom"></div>
                      <div class="col-12"><input class="form-control" name="email" type="email" placeholder="Votre Email" aria-label="Votre email"></div>
                      <div class="col-12"><input class="form-control" name="telephone" class="form-control mb-3" type="tel" placeholder="Telephone" aria-label="Phone Number"></div>
                      <div class="col-12"><input class="form-control" name="message" type="text" placeholder="Ecrivez votre message" aria-label="Subject"></div></div>
                    </div>
                    <div class="row align-items-center mt-3">
                      <div class="col-12 mt-6">
                      </div>
                      <div class="col-12 mt-4 mt-sm-6" ><button class="btn btn-primary w-100" type="submit">Envoyez!</button></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->

    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/is.min.js"></script>
    <script src="js/BigPicture.js"> </script>
    <script src="js/countUp.umd.js"> </script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/all.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/gsap.js"></script>
    <script src="js/customEase.js"></script>
    <script src="js/theme.js"></script>
  </body>

</html>
