<!DOCTYPE html><html lang="en-US" dir="ltr"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>Epicerie-Superette</title>

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="manifest" href="assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">
  <script src="js/OverlayScrollbars.min.js"></script>

  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link href="css/swiper-bundle.min.css" rel="stylesheet">
  <link href="css/hamburgers.min.css" rel="stylesheet">
  <link href="css/loaders.min.css" rel="stylesheet">
  <link href="css/theme.min.css" rel="stylesheet">
  <link href="css/user.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&amp;family=Open+Sans:wght@300;400;600;700;800&amp;display=swap" rel="stylesheet">
  <!-- AOS Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a8D7M5n6Pk3vGcR4CZ3Mz+TtDMXGZ4S5xQiY5hW4JzgsmZBVEbD9t1p2KZuTTqkutMV6fsJ046F+RKg==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-q7nFf7zWA04fR/WUfzXCgDk9Dz6D8xj49jS7cQpLrzTfXOa0ks98AYQizLUyzMzWjkz3Zxjc5iL5lGz7M80Q==" crossorigin="anonymous"></script>

<!-- CountUp.js Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.0.0/countUp.min.js" integrity="sha512-vX0zjGj5JPkW2YqPqnHm8b8FgR5mw/Rj7eB0CkDcMp42grU4P+k5IeO6H+zPG8tfg+nyKDG3n6emB59j5DYQ==" crossorigin="anonymous"></script>

</head>

<body>

  <div class="sticky-top navbar-elixir">
    <div class="container">
      <nav class="navbar navbar-expand-lg"> <a class="navbar-brand" href="index.html"><img src="images/logo-formanetV2.png" alt="logo"></a><button class="navbar-toggler p-0" type="button" data-bs-toggle="collapse" data-bs-target="#primaryNavbarCollapse" aria-controls="primaryNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="hamburger hamburger--emphatic"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></button>
        <div class="collapse navbar-collapse" id="primaryNavbarCollapse">
          <ul class="navbar-nav py-3 py-lg-0 mt-1 mb-2 my-lg-0 ms-lg-n1">
            <li class="nav-item "><a class="nav-link " href="/" role="button" aria-expanded="false">Accueil</a>

            </li>
            <li class="nav-item dropdown"><a class="nav-link " href="/nos-formations" role="button"  aria-expanded="false">Nos Formations</a>

            </li>
            <li class="nav-item "><a class="nav-link" href="/comment-ca-marche" role="button"  aria-expanded="false">Comment ca marche?</a>
              
            </li>
            <li class="nav-item "><a class="nav-link" href="/contact" role="button" aria-expanded="false">Contactez-nous</a>

            </li>
        </div>
      </nav>
    </div>
  </div>
  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <div class="preloader" id="preloader">
      <div class="loader">
        <div class="line-scale">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <section class="py-0">
      <div class="swiper theme-slider min-vh-100" data-swiper='{"loop":true,"allowTouchMove":false,"autoplay":{"delay":5000},"effect":"fade","speed":800}'>
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-zanim-timeline="{}">
            <div class="bg-holder" style="background-image:linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),url(images/epicerie-accueil.jpg);"></div>
            <!--/.bg-holder-->
            <div class="container">
              <div class="row min-vh-100 py-8 align-items-center" data-inertia='{" weight":1.5}'=''>
                <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                  <div class="overflow-hidden">
                    <h1 class="fs-4 fs-md-5 lh-1"  data-zanim-xs="{' delay':0}"="">Epicerie <br>Superette </h1>
                  </div>
                  <div class="overflow-hidden">
                  </div>
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </section>

<main>
    <section class="bg-100 text-center">
        <div class="container">
          <div class="text-center mb-6">
            <h3 class="fs-2 fs-md-3">Epicerie-Superette</h3>
            <hr class="short" data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-4    ">
              <div class="card h-100"><img class="card-img-top" src="images/formation-gestes.jpg" alt="Reenal Scott">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Securite gestes et posture</h5>
                  </div>
                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">Reenal Scott is the Founder and CEO of Elixir, which he started from his dorm room in 2013 with 3 people only.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4 mt-sm-0  ">
              <div class="card h-100"><img class="card-img-top" src="images/formation-developpement-vente.png" alt="Lily Anderson">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Developper son point de vente</h5>
                  </div>

                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">Lily leads Elixir UK and oversees the company’s Customer Operations teams supporting millions ofr users.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4  mt-lg-0 ">
              <div class="card h-100"><img class="card-img-top" style="max-height: 232px;" src="images/formation-gestion-conflit.jpg" alt="Thomas Anderson">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Gestion de conflit</h5>
                  </div>

                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">As the VP of People, Thomas’s focus lies in the development and optimization of talent retention.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4   ">
              <div class="card h-100"><img class="card-img-top" src="images/formation-allergenes.jpg" alt="Legartha Mantana">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Allergenes</h5>
                  </div>

                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">As General Counsel of Elixir, Tony oversees global legal activities and policies across all aspects.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4   ">
              <div class="card h-100"><img class="card-img-top" src="images/formation-techniques-vente.jpg" alt="John Snow">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Techniques de vente</h5>
                  </div>

                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">John has overseen the meteoric growth while protecting scaling its uniquely creative and culture.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4   ">
              <div class="card h-100"><img class="card-img-top" src="images/formation-sst.jpg" alt="Ragner Lothbrok">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">SST secouriste au travail</h5>
                  </div>

                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">Ragner, SVP of Engineering, oversees Elixir’s vast engineering organization which drives the core programming.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-lg-4 mt-4   ">
              <div class="card h-100"><img class="card-img-top" src="images/formation-gestion-stocks.jpg" alt="Ragner Lothbrok">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Gestion des stocks</h5>
                  </div>
                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">Ragner, SVP of Engineering, oversees Elixir’s vast engineering organization which drives the core programming.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4   ">
              <div class="card h-100"><img class="card-img-top" style="height: 232px;" src="images/formation-securite-personnes.jpg" alt="Ragner Lothbrok">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Securite des biens et des personnes dans un commerce</h5>
                  </div>
                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">Ragner, SVP of Engineering, oversees Elixir’s vast engineering organization which drives the core programming.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4   ">
              <div class="card h-100"><img class="card-img-top" style="max-height: 232px;" src="images/formation-relation-client.jpg" alt="Ragner Lothbrok">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Optimiser sa relation au client</h5>
                  </div>
                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">Ragner, SVP of Engineering, oversees Elixir’s vast engineering organization which drives the core programming.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
      </section>
</main>

<%- include('partials/footer') -%>