<%- include('partials/header', { title: 'Nos formations' }) -%>

<main>
    <section class="bg-100 text-center">
        <div class="container">
          <div class="text-center mb-6">
            <h3 class="fs-2 fs-md-3">Nos Formations</h3>
            <hr class="short" data-zanim-xs='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-4    ">
            <a href="/boucherie-charcuterie-traiteur">
              <div class="card h-100"><img class="card-img-top" src="images/boucherie-decoupe.jpg" alt="Boucherie-Charcuterie-Traiteur">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Boucherie-Charcuterie-Traiteur</h5>
                  </div>
                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">Reenal Scott is the Founder and CEO of Elixir, which he started from his dorm room in 2013 with 3 people only.</p>
                  </div>
                </div>
              </div></a>
            </div>
         
            <div class="col-sm-6 col-lg-4 mt-4 mt-sm-0  ">
              <a href="/boulangerie-patisserie">
              <div class="card h-100"><img class="card-img-top" src="images/boulangerie-patisserie.jpg" alt="Lily Anderson">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Boulangerie-pâtisserie</h5>
                  </div>
                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">Lily leads Elixir UK and oversees the company’s Customer Operations teams supporting millions ofr users.</p>
                  </div>
                </div>
              </div></a>
            </div>

            <div class="col-sm-6 col-lg-4 mt-4  mt-lg-0 ">
              <a href="/poissonnerie">
              <div class="card h-100"><img class="card-img-top" src="images/poissonnerie.jpg" alt="Thomas Anderson">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Poissonnerie</h5>
                  </div>
                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">As the VP of People, Thomas’s focus lies in the development and optimization of talent retention.</p>
                  </div>
                </div>
              </div></a>
            </div>

            <div class="col-sm-6 col-lg-4 mt-4   ">
              <a href="/chocolaterie">
              <div class="card h-100"><img class="card-img-top" style="height: 232px;" src="images/chocolat-fondu.jpg" alt="Legartha Mantana">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Chocolaterie</h5>
                  </div>
                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">As General Counsel of Elixir, Tony oversees global legal activities and policies across all aspects.</p>
                  </div>
                </div>
              </div></a>
            </div>

            <div class="col-sm-6 col-lg-4 mt-4   ">
              <a href="/epicerie-superette">
              <div class="card h-100"><img class="card-img-top" style="height: 232px;" src="images/epicerie.jpg" alt="John Snow">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Epicerie-Superette</h5>
                  </div>
                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">John has overseen the meteoric growth while protecting scaling its uniquely creative and culture.</p>
                  </div>
                </div>
              </div></a>
            </div>

            <div class="col-sm-6 col-lg-4 mt-4 ">
              <a href="/bureautique">
              <div class="card h-100"><img class="card-img-top" src="images/bureautique.jpg" alt="Ragner Lothbrok">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Bureautique</h5>
                  </div>
                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">Ragner, SVP of Engineering, oversees Elixir’s vast engineering organization which drives the core programming.</p>
                  </div>
                </div>
              </div></a>
            </div>

            <div class="col-sm-6 col-lg-4 mt-4   ">
              <a href="/management">
              <div class="card h-100"><img class="card-img-top" src="images/nos-formations-management.jpg" alt="Ragner Lothbrok">
                <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                  <div class="overflow-hidden">
                    <h5 data-zanim-xs="{'delay':0}"="">Management</h5>
                  </div>
                  <div class="overflow-hidden">
                    <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">Ragner, SVP of Engineering, oversees Elixir’s vast engineering organization which drives the core programming.</p>
                  </div>
                </div>
              </div></a>
            </div>

              <div class="col-sm-6 col-lg-4 mt-4   ">
                <a href="/langues">
                <div class="card h-100"><img class="card-img-top" src="images/langues.jpg" alt="Ragner Lothbrok">
                  <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                      <h5 data-zanim-xs="{'delay':0}"="">Langues</h5>
                    </div>
                    <div class="overflow-hidden">
                      <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">Ragner, SVP of Engineering, oversees Elixir’s vast engineering organization which drives the core programming.</p>
                    </div>
                  </div>
                </div></a>
              </div>
                <div class="col-sm-6 col-lg-4 mt-4   ">
                  <a href="/haccp-duerp">
                  <div class="card h-100"><img class="card-img-top" src="images/reglementation.jpg" alt="Ragner Lothbrok">
                    <div class="card-body" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                      <div class="overflow-hidden">
                        <h5 data-zanim-xs="{'delay':0}"="">HACCP-DUERP</h5>
                      </div>
                      <div class="overflow-hidden">
                        <h6 class="fw-normal text-500" data-zanim-xs="{'delay':0.1}"="">Business Consultant</h6>
                      </div>
                      <div class="overflow-hidden">
                        <p class="py-3 mb-0" data-zanim-xs="{'delay':0.2}"="">Ragner, SVP of Engineering, oversees Elixir’s vast engineering organization which drives the core programming.</p>
                      </div>
                    </div>
                  </div></a>
                </div>
          </div>
        </div><!-- end of .container-->
      </section>
</main>

<%- include('partials/footer') -%>